*{
    margin: 0px;
    padding: 0px;
}

/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
  
}
.navbar{
    margin: 0px 120px;
    margin-top: 87px;
    font-size: 16px;
    font-weight: 600px;
    display: flex;
    justify-content: space-between;
    

}
#influencer-product{
    font-size:24px ;
    font-weight: 700px;
}


.nav-item li{
    display: inline;
    list-style: none;
    padding: 24px;
    
} 
.menu-name{
    text-decoration: none;
    color: black;
}

/* 1st container start  */

.first-container{
    margin-left: 120px;
    margin-right: 165px;
    display: flex;
    justify-content: space-between;
}
.influencer{
    display: flex;
    flex-direction:column;
    row-gap:16px;
    Width:582px;
    Height: 270px;
    margin-top: 285px;
    
    
}
.second-title{
    font-size: 52px;
    font-weight: 700;
}
.title-paragraph{
    font-weight: 600;
        font-size: 16px;
}
.button{
    margin-top: 10px;
}
.pre-book{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 39px;
    background-image: linear-gradient(#E02C6D, #E02C6D);
}
.camera-banner img{
    width: 440px;
    height: 414px;
    margin-top: 209px;
}

/* 2nd container start  */
.second-container{
    margin-top: 69px;
    margin-left: 165px;
    margin-right: 165px;
    box-shadow: 0 0 5px #AAAAAA;
   
    
}
.influencer-comapnies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 62px;
    

    
}

.company-name  .company-img{
Width: 55.05px;
Height: 31.06px;


}
